h1 {
    background-color: teal;
    color: red;
    text-align: center;
    text-transform: uppercase;
}

#head {
    color: aliceblue;
    background-color: black;
    font-size: 34px;
}

.font-pink{
    color: rgb(67, 40, 45);
    text-decoration-line: overline;
    text-decoration-style: dashed;
    text-decoration-color: rgb(60, 105, 145);
    text-transform: lowercase;
    font-size: 3rem;
}

body {
    /* background-image: url("../IMG/pexels-photo-255379.jpeg"); */
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.font-size {
    font-size: 5rem;
}

.font {
    font-family: "Doto", sans-serif;
    font-weight: 600;
    font-style: italic;
    font-size: 5rem;
    letter-spacing: 2px;
    text-indent: 8rem;
    line-height: 20rem;
    word-spacing: 3rem;
}

.text-wrap {
    white-space: normal;
}

a:link, a:visited {
    background-color: rgb(201, 245, 241);
    color: black;
    padding: 14px 25px 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2rem;
}
a:hover {
    color: blue;
}


@media (max-width: 900px) {
    body {
        background-image: url("../IMG/pexels-photo-255379.jpeg");
    }
  }